<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/layui01/css/layui.css" media="all" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
    <link rel="stylesheet" href="/css/news.css" media="all" />
    <title>学生选课管理--CRM后台管理系统</title>
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote news_search">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" id="filterData" placeholder="请输入关键字" class="layui-input search_input">
        </div>
        <span class="layui-btn search_btn" data-type="reload" id = "search_btn">查询</span>
    </div>
    <div class="layui-inline">
        <a  class="layui-btn linksAdd_btn" style="background-color:#5FB878" id="add" data-type="add">添加选课信息</a>
        <a  class="layui-btn linksAdd_btn" style="background-color:#5FB878" id="select" data-type="select">选课</a>
    </div>

    <div class="layui-inline">

    </div>
</blockquote>
<div class="layui-form links_list">
    <table class="layui-hide" id="test" lay-filter="test">

    </table>
</div>
<div id="page" style="text-align:right"></div>
<!-- <div id="page"></div> -->
    <script src="/js/jquery-1.9.1.min.js" ></script>
   <script src="/layui01/layui.all.js" charset="utf-8"></script>
   <script type="text/html" id="barDemo">
             <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script src="/js/date-format.js" ></script>
    <script id="createTime" type="text/html">
        {{#
        var date = new Date();
        date.setTime(d.mantry);
        return date.Format("yyyy-MM-dd");
        }}
    </script>
    <script th:inline="javascript">
        var role = [[${session.user.userrole}]];
        var ishide = true;
        if("管理员"==role){
            ishide = false;
            $("#select").hide();
        }else if("老师"==role){
            $("#add").hide();
            $("#select").hide();
            $("#batchDel").hide();
        }else{
            $("#add").hide();
            $("#batchDel").hide();
        }
    </script>
    <script src="/js/manager/selectCourse.js" ></script>
</body>
</html>