<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.TeacherInfoMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.TeacherInfo" >
    <id column="teachId" property="teachid" jdbcType="SMALLINT" />
    <result column="teachName" property="teachname" jdbcType="VARCHAR" />
    <result column="teachSex" property="teachsex" jdbcType="VARCHAR" />
    <result column="teachAge" property="teachage" jdbcType="SMALLINT" />
    <result column="manTry" property="mantry" jdbcType="DATE" />
    <result column="isWork" property="iswork" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    teachId, teachName, teachSex, teachAge, manTry, isWork, phone, position
  </sql>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from teacher_info
    <if test="filterData != null and filterData !=''">
      where teachName LIKE #{filterData} or position LIKE #{filterData}
    </if>
  </select>

  <select id="selectCount" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT COUNT(teachId) FROM teacher_info
    <if test="filterData != null and filterData !=''">
      where teachName LIKE #{filterData} or position LIKE #{filterData}
    </if>
  </select>

  <!-- 批量删除 -->
  <delete id="batchDelete" parameterType="int[]">
    <!-- delete from emp where empno in(7789,7790) -->
    <!-- forEach : 用来循环 collection : 用来指定循环的数据的类型 可以填的值有：array,list,map item
        : 循环中为每个循环的数据指定一个别名 index : 循环中循环的下标 open : 开始 close : 结束 separator : 数组中元素之间的分隔符 -->
    delete from teacher_info where teachId in
    <foreach collection="arr" item="arr" index="no" open="("
             separator="," close=")">
      #{arr}
    </foreach>
  </delete>

  <!--- 自动生成 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from teacher_info
    where teachId = #{teachid,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from teacher_info
    where teachId = #{teachid,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.example.model.TeacherInfo" >
    insert into teacher_info (teachId, teachName, teachSex, 
      teachAge, manTry, isWork, 
      phone, position)
    values (#{teachid,jdbcType=SMALLINT}, #{teachname,jdbcType=VARCHAR}, #{teachsex,jdbcType=VARCHAR}, 
      #{teachage,jdbcType=SMALLINT}, #{mantry,jdbcType=DATE}, #{iswork,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.TeacherInfo" >
    insert into teacher_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teachid != null" >
        teachId,
      </if>
      <if test="teachname != null" >
        teachName,
      </if>
      <if test="teachsex != null" >
        teachSex,
      </if>
      <if test="teachage != null" >
        teachAge,
      </if>
      <if test="mantry != null" >
        manTry,
      </if>
      <if test="iswork != null" >
        isWork,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="position != null" >
        position,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teachid != null" >
        #{teachid,jdbcType=SMALLINT},
      </if>
      <if test="teachname != null" >
        #{teachname,jdbcType=VARCHAR},
      </if>
      <if test="teachsex != null" >
        #{teachsex,jdbcType=VARCHAR},
      </if>
      <if test="teachage != null" >
        #{teachage,jdbcType=SMALLINT},
      </if>
      <if test="mantry != null" >
        #{mantry,jdbcType=DATE},
      </if>
      <if test="iswork != null" >
        #{iswork,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.TeacherInfo" >
    update teacher_info
    <set >
      <if test="teachname != null" >
        teachName = #{teachname,jdbcType=VARCHAR},
      </if>
      <if test="teachsex != null" >
        teachSex = #{teachsex,jdbcType=VARCHAR},
      </if>
      <if test="teachage != null" >
        teachAge = #{teachage,jdbcType=SMALLINT},
      </if>
      <if test="mantry != null" >
        manTry = #{mantry,jdbcType=DATE},
      </if>
      <if test="iswork != null" >
        isWork = #{iswork,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
    </set>
    where teachId = #{teachid,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.TeacherInfo" >
    update teacher_info
    set teachName = #{teachname,jdbcType=VARCHAR},
      teachSex = #{teachsex,jdbcType=VARCHAR},
      teachAge = #{teachage,jdbcType=SMALLINT},
      manTry = #{mantry,jdbcType=DATE},
      isWork = #{iswork,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR}
    where teachId = #{teachid,jdbcType=SMALLINT}
  </update>
</mapper>