<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/css/register.css" media="all" />
</head>
<body>
<div class="register" >
    <h1>学生档案管理系统</h1>
    <form class="layui-form" action="" method="post" style="text-align: center;">
        <div class="layui-form-item">
            <label class="layui-form-label" style="text-align: center;">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" lay-verify="username" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="text-align: center;">编号</label>
            <div class="layui-input-block">
                <input type="text" name="usercode" lay-verify="code" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="text-align: center;">账号</label>
            <div class="layui-input-block">
                <input type="text" name="useraccount" lay-verify="account" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="text-align: center;">密码</label>
            <div class="layui-input-block">
                <input type="password" name="userpwd" lay-verify="pass" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="text-align: center;">角色</label>
            <div class="layui-input-block">
                <select name="userrole" lay-verify="role">
                    <option value="">请选择注册的角色</option>
                    <option value="管理员">管理员</option>
                    <option value="老师">老师</option>
                    <option value="学生">学生</option>
                </select>
            </div>
        </div>
        <button class="layui-btn login_btn" lay-submit lay-filter="register">注册</button>
        <button class="layui-btn login_btn" type="reset">重置</button>
    </form>
</div>
    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/js/register/register.js"></script>
</body>
</html>