<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/layui01/css/layui.css"  media="all">
    <script type="text/javascript" src="/js/sockjs.min.js"></script>
    <script type="text/javascript" src="/js/stomp.min.js"></script>
</head>
<body>
<script type="text/javascript">
    // 初始化 ws 对象

    if (location.search == '?ws') {

        var ws = new WebSocket('ws://localhost:15670/ws');

    } else {

        var ws = new SockJS('http://localhost:15670/stomp');

    }

    // 获得Stomp client对象
    var client = Stomp.over(ws);

    // SockJS does not support heart-beat: disable heart-beats

    client.heartbeat.outgoing = 0;

    client.heartbeat.incoming = 0;

    //client.debug = pipe('#second');



    // 定义连接成功回调函数

    var on_connect = function(x) {
        console.log('success');
        //data.body是接收到的数据

        client.subscribe("/queue/test", function(data) {

            var msg = data.body;

            alert("收到数据：" + msg);

        });

    };



    // 定义错误时回调函数

    var on_error = function() {

        console.log('error');

    };



    // 连接RabbitMQ

    client.connect('guest', 'guest', on_connect, on_error, '/');

    console.log(">>>连接上http://localhost:15670");

</script>
</body>
</html>