<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选课信息管理</title>
    <link rel="stylesheet" href="/layui01/css/layui.css" media="all" />
    <!--<link rel="stylesheet" href="/layui/css/layui.css" media="all" />-->
    <style type="text/css">
        .register{
            height:310px;
            width:310px;
            padding: 20px;
            background-color:rgba(255,255,255,0.5);border-radius: 4px;
            position:absolute;left: 42%;top: 25%; margin:-120px 0 0 -175px;z-index:99;
        }
    </style>
</head>
<body>
<div class="register">
    <input type="hidden" id="postWay" value="add">
    <form class="layui-form" action="" method="post" style="text-align: center;" id="testForm">
        <input type="hidden" name="selid" >
        <div class="layui-form-item">
            <label class="layui-form-label" style="text-align: center;">名称</label>
            <div class="layui-input-block">
                <input type="text" name="selname" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-block">
                <input type="text"  name ="starttime" placeholder="请输入开始时间" lay-verify="required" id = "start"   class="layui-input test-item">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年级</label>
            <div class="layui-input-block">
                <input type="text"  name ="selgrade" placeholder="请输入年级" lay-verify="required"  id = "grade" class="layui-input test-item">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="text-align: center;">人数</label>
            <div class="layui-input-block">
                <input type="text" name="selnum" lay-verify="required|number" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-block">
                <input type="text"  name ="endtime" placeholder="请输入结束时间" lay-verify="required" id = "end"  class="layui-input test-item">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上课地点</label>
            <div class="layui-input-block">
                <input type="text"  name ="courseclass" placeholder="请输入上课地点" lay-verify="required" class="layui-input userBirthday">
            </div>
        </div>
        <button class="layui-btn login_btn" lay-submit lay-filter="register">提交</button>
        <button class="layui-btn login_btn" type="reset">重置</button>
    </form>
</div>
<script src="/js/jquery-1.9.1.min.js" ></script>
<script type="text/javascript" src="/layui01/layui.js"></script>
<!--<script type="text/javascript" src="/layui/layui.js"></script>-->
<script type="text/javascript" src="/js/register/EditSelectCourse.js"></script>
<script type="text/javascript">
    (function(){
        useLayDateMultiple('start');
        useLayDateMultiple('end');
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            lay('#grade').each(function() {
                laydate.render({
                    elem : this,
                    trigger : 'click'
                    ,type: 'year'
                });
            });
        });
    })()
    //绑定日期控件(同时绑定多个)非常实用！
    function useLayDateMultiple(cls) {
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            lay('#' + cls).each(function() {
                laydate.render({
                    elem : this,
                    trigger : 'click'
                    ,type: 'datetime'
                });
            });
        });
    }
</script>
</body>
</html>